


 <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Bienvenido a Lavandería V&J</h2>
                        <p>Un mundo de servicios de lavandería a su disposición.Nos dedicamos al lavado profesional, desde las prendas de tu hogar hasta el tratamiento especializado.</p>
                        <a href="#" class="da-link button">Leer más</a>
                        <div class="da-img">
                            <img src="imagenes/Slider01.png" alt="image01" width="320">
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide">
                        < <h2 class="fittext2">Bienvenido a Lavandería V&J</h2>
                        <p>Un mundo de servicios de lavandería a su disposición.Nos dedicamos al lavado profesional, desde las prendas de tu hogar hasta el tratamiento especializado.</p>
                        <a href="#" class="da-link button">Leer más</a>
                        <div class="da-img">
                            <img src="imagenes/lavado2.jpg" width="320" alt="image02">
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Bienvenido a Lavandería V&J</h2>
                        <p>Un mundo de servicios de lavandería a su disposición.Nos dedicamos al lavado profesional, desde las prendas de tu hogar hasta el tratamiento especializado.</p>
                        <a href="#" class="da-link button">Leer más</a>
                        <div class="da-img">
                            <img src="imagenes/Slider03.png" width="320" alt="image03">
                        </div> 
                    </div>
                    <!-- Start third slide -->
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>


         <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Nuestros servicios</h1>
                    <p>¡El mejor lugar para el cuidado de tu ropa!</p>
                </div>
                <div class="row-fluid team">
                    <div class="span4" id="first-person">
                        <div class="thumbnail">
                            <img src="imagenes/Team1.jpg" alt="team 1">
                            <h3>Lavado y secado</h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Lavado y secado</h2>
                                <p>Este servicio de lavandería industrial y especializada incluye el recojo, recepción y clasificación de las prendas para el proceso de lavado y secado, según la costura para luego pasar al doblado, hermanado, y entrega de las prendas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="second-person">
                        <div class="thumbnail">
                            <img src="imagenes/Team1.jpg" alt="team 1">
                            <h3>Lavado de alfombras</h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Lavado de alfombras</h2>
                                <p>Nuestro servicio, se apoya en maquinaria especial y técnico capacitado que garantizarán una limpieza y desinfección total al momento de limpiar y lavar cualquier tipo y estilo de alfombra, ya sean modulares, persas, belgas, turcas, bouclé, pelo cortado, shaggy, entre otras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="third-person">
                        <div class="thumbnail">
                            <img src="imagenes/Team1.jpg" alt="team 1">
                            <h3>Teñido</h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Teñido</h2>
                                <p>El servicio de teñido que se ofrecemos es de todo tipo, como en algodón, focalizados, trapeado, etc. Con la mejor calidad y los precios más competitivos del mercado. Lo cual garantizará la calidad y realce de sus prendas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-text centered">
                    <h3>Acerca de Nosotros</h3>
                    <p>Lavandería V&J tiene 10 años en el mercado, ofreciendo el servicio de lavandería en el Distrito de La Molina, Perú.</p>
                </div>
                <h3>Ventas</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="skills">
                            <li>
                                <span class="bar" data-width="80%"></span>
                                <h3>Lavado al seco</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="95%"></span>
                                <h3>Lavado de alfombras</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="68%"></span>
                                <h3>Teñido</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="70%"></span>
                                <h3>Secado</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <div class="highlighted-box center">
                            <h1>Lavandería V&J</h1>
                            <p>Contamos con equipos de última generación y colaboradores altamente calificados y experimentados que tratan cada una de sus prendas de manera personalizada, ofreciendo acabados de primer nivel, y un mayor tiempo de Vida Útil.</p>
                            <button class="button button-sp">Contáctanos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>