@model Cliente
@{
    ViewData["title"] = "Editar Cliente";
}

<h1 class="text-center">@ViewData["title"]</h1>
<div class="container">
    <form asp-action="EditarCliente" method="post">
        <!--<div asp-validation-summary="All"></div>-->
        <div class="form-group">
            <label asp-for="Nombre">Nombre(s)*:</label>
            <input asp-for="Nombre" placeholder="Nombre(s)" class="form-control">
            <small><strong><span asp-validation-for="Nombre" class="text-danger"></span></strong></small>
        </div>
        <div class="form-group">
            <label asp-for="Apellido">Apellido(s)*:</label>
            <input asp-for="Apellido" placeholder="Apellidos(s)" class="form-control">
            <small><strong><span asp-validation-for="Apellido" class="text-danger"></span></strong></small>
        </div>
       
        
        <div class="form-group">
            <label asp-for="TipoDoc">Documento*:</label>
            <select asp-for="TipoDoc" class="form-control">
                <option value="Dni">Dni</option>
                <option value="Cne">Cne</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
        </div>
    
    
        <div class="form-group">
            <label asp-for="NroDoc">Numero de Documento*:</label>
            <input asp-for="NroDoc" placeholder="Numero de Documento" class="form-control">
            <small><strong><span asp-validation-for="NroDoc" class="text-danger"></span></strong></small>
        </div>
    
        <!--
        <div class="col-3">
            <label asp-for="Distrito">Distrito*:</label>
            <select asp-for="DistritoId" asp-items="ViewBag.Distrito" class="form-control"></select>
        </div>
        -->
    
        <div class="form-group">
            <label asp-for="Direccion">Dirección*:</label>
            <input asp-for="Direccion" placeholder="Dirección" class="form-control">
            <small><strong><span asp-validation-for="Direccion" class="text-danger"></span></strong></small>
        </div>
    
        
    
        <div class="form-group">
            <label asp-for="Tel">Teléfono*:</label>
            <input asp-for="Tel" placeholder="Numero de telefono" class="form-control">
            <small><strong><span asp-validation-for="Tel" class="text-danger"></span></strong></small>
        </div>

        <div class="form-group">
                <label asp-for="Distrito">Distrito*:</label>
                <select asp-for="DistritoId" asp-items="ViewBag.Distrito" class="form-control"></select>
        </div>

        <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" placeholder="Correo electronico" class="form-control">
        <small><strong><span asp-validation-for="Email" class="text-danger"></span></strong></small>
        </div>

        

        <div class="text-center pt-3">
        <input type="submit" class="btn btn-info" value="Editar">
    </form>

    
            <input type="button" class="btn btn-info" value="Volver" onclick="location.href='@Url.Action("Index","Home")'" >
        </div>
    
         
</div>