@model Ticket
<div class="container">
    <h1 class="text-center">
        Fecha de entrega
    </h1>
</div>
<div class="container">
    <form method="POST" asp-route-boleta="@ViewBag.nroboleta">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label for="">Entrega:</label>
            <input type="date" asp-for="TkFechaEntrega" class="form-control">
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Agregar fecha y cerrar" class="btn btn-info">
        </div>
    </form>
</div>