@model List<Servicio>
<h1 class="text-center">Reporte de servicios</h1>
<div class="container">
    <form method="POST">
        <div class="row">
            <div class="col">
                <label id="mes">Servicios</label>
                
            </div>
            <div class="col">
                <label id="mes">Cantidad</label>
                
            </div>
        </div>
        <div class="text-center mt-3 mb-3">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <a class="btn btn-warning" href="/Servicio/serviciosRealizados" >Volver</a>
    </form>
</div>