@model List<Servicio>
<h1 class="text-center">Listar Servicios Pendientes</h1>

<h5 class="text-center">@ViewBag.nombrefiltro</h5>
<table class="table table-hover">
    <thead class="thead-dark text-center">
        <th>Nro Boleta</th>
        <th>Descripci칩n</th>
        <th>Fecha de Entrega</th>
        <th>Ver m치s</th>
    </thead>
    <tbody>
        @foreach (var servicio in Model)
        {
            <tr class="text-center">
                <td>
                    @servicio.ticket.TkNroBoleta
                </td>
                <td>
                    @servicio.DescServicio
                </td>
                <td>
                    @if (servicio.ticket.TkFechaEntrega.HasValue)
                    {
                        @servicio.ticket.TkFechaEntrega.Value.ToShortDateString()
                    }
                </td>
                <td>
                    <a class="btn btn-warning" href="/Servicio/DetalleServicio?nroservicio=@servicio.Id" >Ver detalle</a>
                </td>
            </tr>
            
        }
        <tr class="text-light bg-dark text-center">
            <td>ID</td>
            <td>Descripci칩n</td>
            <td>Fecha de Entrega</td>
            <td>Ver m치s</td>
        </tr>
    </tbody>
</table>

<a style="text-align: center;" class="btn btn-warning" href="/Home/Index" >Volver</a>